<%provide(:title, 'Get Started')%>

<div class="flex flex-col justify-evenly items-center fixed top-0 bottom-0 left-0 right-0 bg-gradient-to-r from-blue-500 to-sky-300">
  <h1 class="font-bold text-8xl">Welcome to Article Hub</h1>
  <p class="text-4xl italic text-center">"Education is what remains after one has forgotten what one has learned in school." <br /> - Albert Einstein</p>

  <%= link_to 'Get Started', posts_path, class: "border-[1px] flex flex-col justify-center items-center bg-blue-500 font-bold w-[300px] text-white h-10 rounded-lg"%>
</div>
