<div class="mx-auto md:w-2/3 w-screen h-screen flex flex-col justify-center items-center">
  <div class="mx-auto flex flex-col justify-center items-center">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-8xl rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    <div class="flex flex-row gap-6 justify-center items-center">
          <%= link_to 'Back', posts_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    </div>
  </div>
</div>
